#placeholder{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  border: 2px solid black;
  min-width: 800px;
  max-width: 800px;
  margin: 40px;
}
