body {
	font-family: calibri, Arial, Helvetica, sans-serif;
	background-color: #eee;
	color: #222;
    min-width: 400px;
    max-width: 600px;
    margin: auto;
}

.wrapper  {
    display:grid;
    grid-template: repeat(5, min-content) / 3fr 2fr;
    gap: 8px; 
    padding: 20px;
    border: 1px solid #777;
    box-shadow: 0 0px 20px -5px #aaa;
    border-radius: 5px;
    margin: 20px;
    background: #e5e5e5;
}

.wrapper label {
	grid-column: 1 / 2;
	text-align: right;
	padding: 8px 0;
}

.wrapper input {
	grid-column: 2 / 3;
	padding: 8px;
}

h1 {
    grid-column: 1 / 3;
    font-size: 14pt;
    margin: 0;
}

button {
    grid-column: 1 / 3;
	font-size: 14pt;
	width: 100%;
	height: 50px;
	text-shadow: 0px 0px 8px #d9e0eb;
}